
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}


html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width:100%;
    /* background-color: red; */
    /* margin-top: 7%; */
    display: flex;
    align-items: flex-end;
    /* justify-content: space-between; */
    padding : 0px 90px;
    padding-top: 120px;
    gap : 50px;
}
#left{
    height: 100%;
    width: 45%;
    /* padding : 0 30px; */
    /* background-color: rgb(152, 248, 255); */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 50px;
}
#left h1{
    font-size: 4.5em;
}
#color{
   
    height: 40px;
    width: 130px;
     /* background-color: black;  */
    border-radius: 20%/50%;
    border: 2px solid black;
    display: flex;
    padding : 0 15px;
} 
#color h3{
    padding : 0 3px;
    justify-self: center;
    align-self: center;
}
#c1{
    margin-left: 7px;
    justify-self: center;
    align-self: center;
    height: 12px;
    width:12px;
    background-color: red;
    border-radius: 50%;
}
#c2{
    margin-left: 5px;
    justify-self: center;
    align-self: center;
    height: 12px;
    width:12px;
    background-color: rgb(4, 0, 255);
    border-radius: 50%;
}
#para{
    margin-top: 40px;
}
#right{
    /* background-color: aqua; */
    height: 99%;
    width: 33%;
    /* display: flex; */
    /* justify-content:right; */
    /* align-items: center; */
    position: relative;
}
#right-top{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: blue; */
}
#right-top h5 i{
    color: goldenrod;
    padding-left: 2px;
}
#right img{
    width:100%;
    height: 88%;
    object-fit: cover;
}
#circle{
    height:120px;
    width:120px;
    color: white;
    background-color: rgb(41, 41, 45);
    border-radius: 50%;
    position: absolute;
    right: -17%;
    top:28%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#circle h5{
    font-size: 18px;
}
#text{
    position: absolute;
    rotate: -90deg;
    transform-origin: 0 0;
    /* background-color: blue; */
    font-size: 25px;
    font-weight: 500;
    left:-15%;
    bottom:3%;
}